
.idea/workspace.xml

.idea/workspace.xml

.idea/misc.xml

.idea/workspace.xml

app/app.iml

app/app.iml

.idea/workspace.xml

.idea/misc.xml

*.lock

.gradle/2.14.1/tasks/_app_compileDebugJavaWithJavac/localClassSetAnalysis/localClassSetAnalysis.bin

.idea/workspace.xml

.gradle/2.14.1/taskArtifacts/cache.properties.lock

.gradle/2.14.1/taskArtifacts/fileHashes.bin

*.bin

*.lock

*.iml
